@import "variables";
@import "mixins";
body{
  padding: 0;
  margin: 0;
}

// header

.header{
  padding: 30px 0;

  color: $header-h2;
  font-size: $header-h2-text;
  background-color: $header-bck;
}

.header h2{
  padding-left: 20%;
}




.line-style{
  padding: 0 0;
  background-color:$header-h2;
  width: 100%;
  height: 3px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color:$header-bck;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $header-bck;
  color: $header-h2;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: $header-bck;
  color: $header-h2;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


// END OF TOPNAV


// DEALER

.dealer{
  display: flex;
  justify-content: center;
  gap: 15%;
  font-size: $dealer-text;
}


.dealer a{
  text-decoration: none;
  background-color: #E9E9E9;
  color: $header-bck;
   padding-top: 18px;
  padding:0 20px;
  padding-bottom: 10px;
   padding-top: 2px;
   text-align: center;
}

.dealer a:hover{
  background-color: $header-bck;
  color: $header-h2;
  
}



#items{
  margin-top: 40px;
  padding: 40px;
  background: #c9c9c9;
}


.item{
  position: relative;
  background: $header-bck;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.item .product-image-container {
  display: flex;
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

#items .item img{
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: bottom;
}


.image-details{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}


.image-text a{
text-decoration: none;
}

.image-text h3{
  text-transform: capitalize;
  font-size: 25px;
  // margin-bottom: 5px;
  color:#f5f5f5 ;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding: 8px 10px;
}


.item a .fa-solid {
  font-size: 50px;
  color:$header-h2;
  padding: 10px 0;
  background: $header-h2;
  border-radius: 50%;
}


.section-btn{
  text-align: center;
  margin: 20px 0 10px 0;

}

.section-btn a{
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  font-size: 30px;
  color: $header-h2;
  background:$header-bck;
  transition: background 2s ease,color 2s ease ;
}



.section-btn .fa-solid{
  font-size: 40px;
  margin-right: 10px;
}


@media screen and (min-width:576px) {
  .item-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item{
    flex: 0 0 calc(50% - 1em);
  }
}

@media screen and (min-width:776px) {
  
  
  .item{
    flex: 0 0 calc(33.3% - 1em);
  }
}


/* ##############about us############## */

#about-us {
  background:#E9E9E9 ;
}


.about-title {

  cursor: pointer;
}

.about-title-text {
  font-size: 60px;
  text-transform: capitalize;
  color: $header-h2;
}






/* ###########about us########## */
.about-title{
padding-left: 15px;
}

.about-details {
  text-align: center;
   margin: 20px 0;

}




.about-text p {
  line-height: 2;
  width: 75%;
  margin: 0 auto;
  font-size: 25px;
  color: $header-bck;
}


// ######### ALABA CONTACT SECTION ###########


#alaba-contact-section {
  font-size: 25px;
  background-color: $header-bck;
  color: $header-h2;
}

#alaba-contact-section ul{
  display: flex;
  font-size: 25px;
}


#alaba-section{
  color: $header-h2;
  text-align: center;
  font-size: 35px;
  padding-bottom: 3px;
}


// ########## CONTACT US ##############
#contact {
background-color: #E9E9E9;
}

.title {
  font-size: 60px;
  color: $header-h2;
}

.item-info {
  display: flex;
  margin: 20px 0;
  font-size: 30px;
  color:$header-bck;
}

.item-info .fa-solid {
  margin-right: 20px;
}

form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-size: 25px;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 4px solid $header-bck;
  }

form input::placeholder {
  color: $header-h2;

}

#customer-info a {
  display: block;
  padding: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 30px;
  justify-content: space-between;
  color: $header-h2;
  background: $header-bck;
  transition: background 0s ease;
  letter-spacing: 20px;
}


@media screen and (min-width:776px) {
  .contact-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #company-info {
    flex: 0 0 calc(50% - 10px);
  }

  #customer-info {
    flex: 0 0 calc(50% - 10px);
  }


}





